:root {
    /* colors */
    --primary: #3B6D6A;
    --primary-hover: #4F8F8B;
    --secondary: #D4AF37;
    --secondary-hover: #E6C25E;
    --tertiary: #8A2E2E;
    --tertiary-hover: #A63A3A;
    --footer-bg: #161513;

    --text-primary: #1C1712;
    --text-secondary: #4A4239;
    --text-tertiary: #7A7368;
    --background: #FAF7F2;
    --surface: #FFFFFF;
    --surface-hover: #EDE7DD;
    --border: #E0DBD2;
    --border-hover: #CFC7BC;


    /* fonts */
    --headings: "Libre Baskerville", serif;
    --body-text: "Plus Jakarta Sans", sans-serif;
}

.dark-theme {
    --text-primary: #F3F1EE;
    --text-secondary: #C8C2B8;
    --text-tertiary: #8E867A;
    --background: #1C1712;
    --surface: #251F1A;
    --surface-hover: #3A3129;
    --border: #4A4239;
    --border-hover: #6A5D4D;
    --footer-bg: #161513;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-text);
    color: var(--text-primary);
    background-color: var(--background);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
    color: var(--text-primary);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    font: inherit;
    background: none;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

/* consistent font styles */

.display-text {
    font-family: var(--headings);
    font-size: 56px;
    line-height: 72px;
    font-weight: 600;
}

.heading-1 {
    font-family: var(--headings);
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

.heading-2 {
    font-family: var(--headings);
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}

.heading-3 {
    font-family: var(--headings);
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

.heading-4 {
    font-family: var(--headings);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.heading-5 {
    font-family: var(--headings);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.body-large {
    font-family: var(--body-text);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.body {
    font-family: var(--body-text);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.body-small {
    font-family: var(--body-text);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.caption {
    font-family: var(--body-text);
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.category-text {
    font-family: var(--body-text);
    font-size: 12px;
    font-weight: 400;
}

.navigation-text {
    font-family: var(--body-text);
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    transition:
        border-color 0.3s ease,
        opacity 0.3s ease;
}

.navigation-text:hover {
    border-bottom-color: var(--primary-hover);
    opacity: 1;
}

.footer-navigation-text {
    width: fit-content;
    font-family: var(--body-text);
    font-size: 14px;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    opacity: 0.7;
    transition:
        border-color 0.3s ease,
        opacity 0.3s ease;
}

.footer-navigation-text:hover {
    border-bottom-color: var(--primary-hover);
    opacity: 1;
}

/* button styling */
.primary-btn {
    background-color: var(--tertiary);
    color: white;
    padding: 8px 32px;
    border-radius: 24px;
    font-size: small;
    font-weight: 600;
}

.primary-btn:hover {
    background-color: var(--tertiary-hover);
    transition: all ease 0.3s;
}

.outline-btn {
    color: var(--tertiary);
    padding: 6px 32px;
    border: 2px solid var(--tertiary);
    border-radius: 24px;
    font-size: small;
    font-weight: 600;
}

.outline-btn:hover {
    background-color: var(--tertiary);
    color: white;
    transition: all ease 0.3s;
}

.secondary-btn {
    background-color: var(--primary);
    color: white;
    padding: 8px 32px;
    border-radius: 24px;
    font-size: small;
    font-weight: 600;
}

.secondary-btn:hover {
    background-color: var(--primary-hover);
    transition: all ease 0.3s;
}

/* logo styling */
.logo {
    color: var(--text-primary);
}

.logo a span {
    color: var(--primary);
}

/* nav bar styling */
nav {
    background-color: var(--surface);
}

.nav-active {
    opacity: 1;
    border-bottom: 3px solid var(--primary-hover);
}

.nav {
    padding: 8px 0px;
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-menu-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.nav .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav .config {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.theme-toggle {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.theme-toggle:hover .nav-icon {
    color: var(--primary-hover);
    transform: rotate(20deg);
}

.nav-icon {
    width: 20px;
    height: 20px;
    display: block;

    color: var(--text-primary);

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.sun-icon {
    display: none;
}

.dark-theme .moon-icon {
    display: none;
}

.dark-theme .sun-icon {
    display: block;
}

/* title styling */

.title-container {
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container .title-top {
    color: var(--tertiary);
}

.title-container .title-main {
    color: var(--text-primary);
}

.title-container .title-description {
    text-align: center;
    color: var(--text-secondary);
}


/* destinaton card styling */

.destination-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 388px;
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
    transition: box-shadow ease-in 0.3s;
}

.destination-card:hover {
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.18);
}

.destination-img img {
    transition: transform 0.6s ease-in-out;
}

.destination-card:hover .destination-img img {
    transform: scale(1.2);
}

.destination-img {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.destination-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.destination-settings {
    position: absolute;
    top: 16px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Category */

.destination-category {
    min-width: 120px;
    min-height: 30px;
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--surface-hover);
    color: var(--text-secondary);
    border: 1px solid var(--text-tertiary);
    border-radius: 16px;
}

/* Favorite */

.add-to-favorites {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--surface);
    border-radius: 50%;
    color: var(--text-secondary);
    cursor: pointer;
}

.add-to-favorites:hover {
    background-color: var(--tertiary-hover);
    color: #FFFFFF;
}

/* Destination Details   */

.destination-details {
    padding: 16px 24px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Location */

.destination-location {
    color: var(--text-tertiary);
}

/* Rating */

.destination-ratings {
    color: var(--secondary-hover);
}

/* Destination Name */

.destination-name {
    margin-bottom: 4px;
    color: var(--text-primary);
}

/* Description */

.destination-description {
    min-height: 26px;
    margin-bottom: 22px;
    color: var(--text-secondary);
}

.view-details {
    margin-top: auto;
}

.view-details-btn {
    width: 100%;
}


/* footer styling */
footer {
    background-color: var(--footer-bg);
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-main {
    padding: 48px 0px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #4A4239;
}

.footer-title {
    color: #ffffff;
}

.footer-main .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.footer-logo {
    color: #ffffff;
}

.footer-logo a span {
    color: var(--primary);
}

.footer-description {
    color: #C8C2B8;
}

.footer-main .footer-quick-links,
.footer-main .footer-guides {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact .footer-contact-details {
    color: #C8C2B8;
}

.footer-bottom {
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom-text {
    font-family: var(--body-text);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #8E867A;
}

/* destination details styling */
.cover-image-section {
    padding: 36px 0px;
}

.cover-image-container {
    position: relative;
    border-radius: 20px;
}

.cover-details {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.cover-image {
    width: 100%;
    height: 400px;
    filter: blur(1.6px);
    border-radius: inherit;
    object-fit: cover;
    object-position: center 10%;
}

.cover-category {
    color: var(--secondary-hover);
    font-family: var(--body-text);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.cover-name {
    color: #ffffff;
}

.destination-details-section {
    padding: 0px 0px 48px 0px;
}

.destination-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 64px;
    align-items: start;
}

.destination-details-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.overview-content {
    text-align: justify;
    color: var(--text-secondary);
}

.destination-overview-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.destination-details-card {
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.destination-detials-title {
    color: var(--tertiary-hover);
}

.destination-action-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--surface);
    padding: 24px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.destination-entry-details {
    color: var(--tertiary);
}

.destination-details-ratings {
    color: var(--secondary-hover);
}